* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #edf2f8;
    padding: 40px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    width: 90%;
    background: #ffffff;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.join-container {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 100%;
}

.subscription-plan {
    background-color: #2BB3B1;
    color: white;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    min-height: 240px;
    width: 50%;
    
}

.days {
    font-weight: bold;
    margin-bottom: 15px;
    margin: auto;
    color:#BFDF32
}

.why-us {
    background-color: #4ABEBD;
    color: white;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    min-height: 240px;
    width: 50%;
}

h1 {
    margin-bottom: 15px;
    color: #26ACA5; 

}

button {
    background-color: #BFDF32;
    color: white;
    border: none;
    padding: 15px 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
}

button:hover {
    background-color: #A4C30E;
}

.join-container article:nth-child(2) {
    grid-area: side1;
}

.subscription-plan article:nth-child(3) {
    grid-area: light;
}

.why-us article:nth-child(4) {
    grid-area: side2;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .subscription-plan {
    padding: 30px;
    width: 100%;
  }

  .why-us {
    padding: 30px;
    width: 100%;
  }
}