body {
  font-family: sans-serif;
  background: #faf7fc;
  margin: 0;
  padding: 25px;
}

/* DESKTOP */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.hero h1 {
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 12px;
}

.hero p {
  opacity: .7;
  line-height: 1.4;
  max-width: 420px;
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rating-box {
  background: #f6eefc;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 700;
  width: 320px;
}

/* COMMENTS DESKTOP */
.comments {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.comment {
  background: #4a225a;
  color: white;
  padding: 22px;
  border-radius: 10px;
  width: 33%;
  font-size: 14px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user span {
  color: #d3a6ff;
  font-size: 12px;
}


/* ——————————————————
   MOBILE QUE QUERÍAS
—————————————————— */
@media (max-width: 768px) {

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .ratings {
    width: 100%;
    align-items: center;
    margin-top: 22px;
  }

  .rating-box {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 350px;
  }

  .comments {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }

  .comment {
    width: 100%;
  }
}
