body {
font-family: 'Poppins', sans-serif;
background: #fafafa;
margin: 0;
padding: 0;
}

.feature-section {
text-align: center;
padding: 60px 20px;
margin: auto;
}
.header-text h2 {
font-weight: 300;
color: #777;
font-size: 28px;
margin: 0;
}

.header-text h1 {
font-weight: 700;
font-size: 32px;
margin: 10px 0;
color: #2b2b2b;
}
.header-text span {
 color: #3c3f95; 
}

.header-text p {
color: #777;
max-width: 600px;
margin: 10px auto 40px;
line-height: 1.5;
}

.cards-container {
display: flex;
align-items: center;
justify-content: center;
gap: 25px;
        }

.card {
background: #fff;
padding: 25px;
border-radius: 10px;
box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
width: 300px;
text-align: left;
position: relative;
}

.card h3 {
 margin: 0;
font-size: 20px;
color: #3f3f55;
}

.card p {
color: #777;
margin: 10px 0 60px;
font-size: 14px;
line-height: 1.4;
}

.card img {
width: 55px;
position: absolute;
bottom: 20px;
right: 25px;
}

.supervisor {
border-top: 4px solid #45d3d3;
}

.team-builder {
border-top: 4px solid #ea5353;
}

.karma {
 border-top: 4px solid #fcaf4a;
}

.calculator {
border-top: 4px solid #549ef2;
}

.middle-cards {
display: flex;
flex-direction: column;
gap: 25px;
}


 @media (max-width: 768px) {
   .cards-container {
        flex-direction: column;
    }
    .middle-cards {
        flex-direction: column;
    }
     .card {
        width: 100%;
        max-width: 350px;
        margin: auto;
    }
}